n[Bb]in/
[Oo]bj/

*.suo
*.[Cc]ache
*.[Pp]ublish.xml
*.[Pp]ublish.*.vs17.pdb
*.vssscc
*.vspscc
*.pidb
*.vdt
*.vwd

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.sln.iml
*.sln.DotSettings.user

.AppleDouble
.LSOverride
*.nuget.props
*.nuget.targets
packages/

*.trx
*.coverlet.json

logs/
LogFiles/

*.bak
*.orig

